.header {
  background: #000;
}

.blog-post {
  text-align: center;
  padding: 60px 0 100px;
}
.blog-post-subtitle {
  margin-bottom: 35px;
  font-size: 14px;
  color: #606060;
}
.blog-post-desc {
  font-size: 14px;
  color: #606060;
  margin: 0 0 50px;
}
.blog-post .post-img {
  max-width: 100%;
  height: 100%;
  max-height: 400px;
  object-fit: cover;
}
.blog-post .post-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: "Lato", sans-serif;
}
.blog-post .post-subtitle {
  font-size: 14px;
  color: #606060;
  margin: 40px 0 0;
}
.blog-post .post-desc {
  margin: 30px 0 0;
  font-size: 14px;
  color: #606060;
}
.blog-post .post-desc::after {
  content: "";
  display: block;
  width: 144px;
  height: 1px;
  background: #030303;
  margin: 40px auto 0;
}

@media (max-width: 768px) {
  .header-wrapper {
    background: #e0e4e5;
  }

  .blog-post {
    padding: 60px 0;
  }
}